.hojoundo-off {
    display: none;
}

.hojoundo-selected {
    display: inline;
}

.kata-off {
    display: none;
}

.kata-selected {
    display: inline;
}

.exam-step {
    text-decoration: underline;
}
