{{ partial "header" . }}

<main>

    <div>
        <h2>{{ .Title }}</h2>
        <h5>{{ .Description }}</h5>
        {{ partial "tags" . }}
    </div>

    <div>
        For the {{ index .Params.belt "name" }} black belt ({{ index .Params.belt "order" }} Dan WUKF), the exam will test your abilities to perform:
        <div class="exam-step">Body reinforcement</div>
        <ul>
            <li>Kote Kitae</li>
            <li>Ashi Kitae</li>
            <li>Tai Kitae</li>
        </ul>
        {{ if gt .Params.hojoundo_to_perform 0 }}
            <div class="exam-step">Hojo Undo</div>
            <div>{{ .Params.hojoundo_to_perform }} of the {{ len .Params.hojoundo }} Hojo Undo:</div>
            <table style="margin-left: auto;margin-right: auto;">
                {{ range .Params.hojoundo }}
                    <tr>
                        <td style="text-align:right">{{ .name }}&nbsp;<a href='https://www.youtube.com/watch?v={{ $.Param "youtube-id" }}&t={{ .timecode }}s' target="_blank">&#127902;</a></td>
                        <td><div id="{{ .id }}" class="hojoundo-off">&nbsp;&#9989;</div></td>
                    </tr>
                {{ end }}
            </table>
        {{ end }}
        {{ if .Params.kyon }}
        <div class="exam-step">Kyon</div>
        <p>1 free Kyon mastering Uechi Ryu techniques and principles</p>
        {{ end }}
        <div class="exam-step">Kata</div>
        <ul>
            {{ if eq (index .Params.belt "name") "Shodan" }}
                <li>1 among the 4 firsts Kata:</li>
                <table style="margin-left: auto;margin-right: auto;">
                    {{ range .Params.kata }}
                        {{ if le .index 4 }}
                            <tr>
                                <td style="text-align:right">#{{ .index }} {{ .name }}&nbsp;<a href='https://www.youtube.com/watch?v={{ $.Param "youtube-id" }}&t={{ .timecode }}s' target="_blank">&#127902;</a></td>
                                <td><div id="{{ .id }}" class="kata-off">&nbsp;&#9989;</div></td>
                            </tr>
                        {{ end }}
                    {{ end }}
                </table>
            {{ else }}
                <li>Kata #{{ index .Params.kata 0 "index" }} {{ index .Params.kata 0 "name" }}&nbsp;<a href='https://www.youtube.com/watch?v={{ $.Param "youtube-id" }}&t={{ index .Params.kata 0 "timecode" }}s' target="_blank">&#127902;</a></li>
                <li>Kata #{{ index .Params.kata 4 "index" }} {{ index .Params.kata 4 "name" }}&nbsp;<a href='https://www.youtube.com/watch?v={{ $.Param "youtube-id" }}&t={{ index .Params.kata 4 "timecode" }}s' target="_blank">&#127902;</a>&nbsp;& Bunkai</li>
            {{ end }}
            <li>Kata #{{ index .Params.kata (sub (len .Params.kata) 1) "index" }} {{ index .Params.kata (sub (len .Params.kata) 1) "name" }}&nbsp;<a href='https://www.youtube.com/watch?v={{ $.Param "youtube-id" }}&t={{ index .Params.kata (sub (len .Params.kata) 1) "timecode" }}s' target="_blank">&#127902;</a>&nbsp;& Bunkai</li>
        </ul>
        <div class="exam-step">Kumite</div>
        <ul>
            <li>Jyu Ippon Kumite</li>
            <li>5 fights</li>
        </ul>
        {{ if eq (index .Params.belt "name") "Shodan" }}
            <button type="button" onclick="ShodanExam()">Generate an other random practice exam</button><br/>
        {{ end }}
        Enjoy and good luck! &#128512;
    </div>

</main>

{{ partial "footer" . }}
